################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/x64
/Debug
/Release

/drawing_of_cliques/x64
/drawing_of_cliques/Debug
/drawing_of_cliques/Release
/drawing_of_cliques/.vs
/drawing_of_cliques/main
/drawing_of_cliques/__pycache__
/drawing_of_cliques/predictions_of_intersections/__pycache__

/Tests/x64
/Tests/Release
/Tests/Debug

/VizualizerWPF/bin
/VizualizerWPF/obj
/VizualizerWPF/Triangle.NET
/VizualizerWPF/.vs

/coordinates_generator/.vs
/coordinates_generator/Debug
/coordinates_generator/Release



/VizualizerWPF-Copy

/ConjectureChecker/bin
/ConjectureChecker/obj/
/ConjectureChecker/.vs
/ConjectureChecker/Release
/ConjectureChecker/Debug

/ConjectureCheckerCplusplus

