drawing_of_cliques/html/* linguist-documentation=true
coordinates_generator/html/* linguist-documentation=true
VizualizerWPF/html/* linguist-documentation=true
ConjectureChecker/html/* linguist-documentation=true