################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/x64
/drawing_of_cliques/x64
/Tests/x64
